---
import '../styles/app.scss';
import Header from '../components/Header/Header.astro';

type Meta = {
  title: string;
  description: string;
  url: string;
  image: string;
};

const META: Meta = {
  title: 'Franciszek Stodulski - Software developer',
  description:
    'Franciszek Stodulski - Software developer with 8+ years of experience with Web Applications.',
  image: '/meta.webp',
  url: 'https://franciszekstodulski.dev'
};
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={META.description} />
    <meta name="viewport" content="width=device-width" />

    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#020617" />

    <meta name="author" content="Franciszek Stodulski" />
    <link rel="icon" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Syne:wght@600;700&display=swap"
      rel="preload"
      as="style"
      onload="this.rel='stylesheet'"
    />
    <meta name="title" content={META.title} />
    <meta name="description" content={META.description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={META.url} />
    <meta property="og:title" content={META.title} />
    <meta property="og:description" content={META.description} />
    <meta property="og:image" content={META.image} />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={META.url} />
    <meta property="twitter:title" content={META.title} />
    <meta property="twitter:description" content={META.description} />
    <meta property="twitter:image" content={META.image} />
    <title>{META.title}</title>

    <script type="text/partytown" src="https://www.googletagmanager.com/gtag/js?id=G-6TTS9E3D2Z"
    ></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'G-6TTS9E3D2Z');
    </script>

    <!-- Google Tag Manager -->
    <script type="text/partytown">
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', 'GTM-PLNNPDLS');
    </script>
    <!-- End Google Tag Manager -->
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-PLNNPDLS"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe></noscript
    >
    <!-- End Google Tag Manager (noscript) -->

    <Header />
    <slot />

    <script type="application/ld+json">
      {
        "@context": "https://schema.org/",
        "@type": "Person",
        "name": "Franciszek",
        "url": "https://franciszekstodulski.dev",
        "image": "",
        "sameAs": [
          "https://www.linkedin.com/in/%F0%9F%91%8B-franciszek-stodulski-50b771101",
          "https://franciszekstodulski.dev"
        ],
        "jobTitle": "Software developer",
        "worksFor": {
          "@type": "Organization",
          "name": "FlipShop"
        }
      }
    </script>
  </body>
</html>
